# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/
.cache/

# Build files
build/
dist/
*.egg-info/
